# data files
/beta
/expansions
/specials
/fonts
/icon
/pack
/pics
/replay
/single
/sound
!/sound/files.txt
/WindBot
/cards.cdb
/error.log
/system_user.conf
/bot.conf
/Bot.exe
/bot

# build files
/bin
build
/obj
/ygopro
/ygopro.exe
/ygopro.app

# dependencies
/event
/libevent*
/freetype
/sqlite3
/jpeg
/irrklang
/irrlicht*
/lua
/miniaudio
/png
/zlib

# gframe additionals
/gframe/*.ico
/gframe/ygopro.rc
/gframe/ygopro.aps
/gframe/ygopro.icns
/gframe/dirent.h

# git repos
/CustomTools
/DataEditorX
/Magic*
/pics
/Printer
/ygopro-*
/*-Cards

# libs
/*.dll
/*.so
/*.dylib

# windbot related files
/[Bb]ot
/[Bb]ot.conf
/[Bb]ot.exe
/[Bb]ot.sh
/[Ww]ind[Bb]ot

# ygopro config file
/system_user.conf

# ygopro folders
/deck
/pack
/fonts
/replay
/single
/screenshots
/sound/*.wav
/sound/custom
/sound/BGM
/sound/README.md
/sound/LICENSE
/sound/,*
/update
/update*
/locales
/lib
/pack

# ygopro main program
/ygopro
/ygopro_*
/ygopro.exe
/ygopro_*.exe
/ygopro.app
/ygopro_*.app
/premake4
/premake4.exe
/premake5*
/premake5.exe
/*.so
/*.dll
/*.dylib

# others
*.log
.vscode
core*
/bak/
/.vs
/bug.txt
/output
/temp
/research
[Tt]humbs.cdb

/PrinterData.txt

/*.bat
/*.sh
/*.sql
/patch.exe.manifest
/patch.exe
/diff.exe
